{% extends 'base.html.twig' %}

{% block title %}TILT · Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stylech.css') }}">
{% endblock %}
{% block body %}

<div class="split-container">
    <div class="left-container">
    </div>
    <div class="right-container">
        <div id="recherche" class="grey-box-login">
            <h1>Recherche</h1>
            <p>Cet outil vous permet de rechercher n’importe quel profil de joueur référencé sur notre application</p>
        </div>
        <div class="welcomemsg">
            <h1>Bienvenue sur Tilt Tracker, que souhaitez vous faire?</h1>
        </div>
        <div class="login-container">
        <p>Pseudo</p>
            <input type="text" id="inputPseudo" placeholder="Pseudo" />
        <p>Mot de passe</p>
            <input type="password" id="inputMotDePasse" placeholder="Mot de passe" />
            <div class="sign-in">
                <button id="executeApiButton">Connexion</button>
                <a href= "faire lien vers la page de connexion"> Créer un compte</a> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // JavaScript for API verification
    function verificationDesIdentifiantsConnexion(pseudo, motDePasse) {
        const script = document.createElement('script');
        script.src = "{{ asset('js/appelApi.js') }}";
        script.setAttribute('data-api-option', 'verificationConnexion,'+ pseudo +','+ motDePasse);
        document.body.appendChild(script);
        script.onload = function () {
            document.body.removeChild(script);
        };
    }

    document.getElementById('executeApiButton').addEventListener('click', function () {
        var pseudo = document.getElementById('inputPseudo').value;
        var motDePasse = document.getElementById('inputMotDePasse').value;
        verificationDesIdentifiantsConnexion(pseudo, motDePasse);
    });

    function gestionEtatConnexion(data) {
        console.log(data);
        if(apiData['hydra:totalItems'] != 0) {
            console.log("Connexion autorisé");

            var idUser = apiData['hydra:member'][0]['user'];
            var idUserDecompose = idUser.split("/");

            window.location.href = '{{ path("app_verificationConnexion") }}?id=' + idUserDecompose[3]; //Nom du chemin à modifier pour ce lié à celui de Céleste

        } else {
            console.log("Connexion refusé");
        }
    }


    //Redirection vers la recherche
    document.getElementById('recherche').addEventListener('click', function () {
        window.location.href = '{{ path("app_recherche") }}';
    });


</script>

{% endblock %}