{% extends 'base.html.twig' %}

{% block title %}TILT · Visibilité{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}

<div class="split-container">
    
    <div class="left-container">
    
    </div>

    <div class="right-container-inf">

        <div class="grey-box-inf">
            <h1>Privé</h1>
            <p>Je souahite que mon profil <span>soit privé</span> et que les autres joueurs <span>ne puissent pas</span> le consulter</p>
        </div>

        <div class="welcomemsg">
            <h1>Choisissez si vous souhaitez que votre profil soit public ou non</h1>
        </div>

        <div class="red-box-inf">
            <h1>Public</h1>
            <p>Je souahite que mon profil <span>soit public</span> et que les autres joueurs <span>puissent</span> le consulter</p>
        </div>

        <div class="red-box-inf">

        </div>

    </div>

</div>

<script type="text/javascript">

</script>

{% endblock %}